* {
    box-sizing: border-box;

    font-family: 'Hind Madurai', sans-serif;
    

}



html {
    height: 100%;
    


}

body {
    height: 100%;
    margin: 0 auto;
    padding: 0;

}

.banner {
    font-size: 4em;
    background-color: rgba(185, 180, 180, 0.9);
    color: #000000;
    width: 90%;
    text-align: center;
    
}


.fail-screen {
    display: block;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    height: 100vh;
    font-size: 50px;
    color: white;
}

.container {
    height: 100vh;
    background:#E1E1E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient( to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7)), url(doctorbg.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    background-position: 80% 0%;
    
}





.instructions {
    font-size: 1.6em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    margin: 30px;
    background: rgba(185, 180, 180, 0.9);
    padding: 20px;
    
}



#js-form-submit {
    width: 100%;
    height: auto;

    
}


input {
    padding: 13px;
    margin-bottom: 10px;
    width: 30%;
    
}

.searchBar {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    

}

#submit-button {    
    padding: 20px;
    cursor: pointer;
    background-color: white; 
}

#results {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    overflow: scroll;
    text-align: center;    
}

.doc-results {
    background: #e6e6e6;
    margin: 10px;
    height: 100vh;

}

.doc-list {
    list-style: none;
    padding: 3px;
    margin: 0;

}
.loading-screen {
    display: none;
    height: 50%;
}



.primary-info {
    border: 5px double black;
    padding: 13px;
    color: #22333B;
    font-weight: 100px;
}

 p   {
    font-family: 'Heebo', sans-serif;
}
span {
    font-family: 'Heebo', sans-serif;
}

.primary-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bold {
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-weight: bold;
}



@media only screen and (max-width: 600px){
    .searchBar{
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #js-form-submit {
        height: 50%;
    }
    .container {
        flex-direction: column;
        align-items: center;
        
    }
    .instructions{
        font-size: 10px;
    }
    #results {
       
        margin: 30px;
    }
    input {
        width: 75%;
    }
    
    

}














