* {
    box-sizing: border-box;

    font-family: 'Russo One', sans-serif;
    

}



html {
    height: 100%;
    overflow: hidden;


}
body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background:#E1E1E1;
    overflow: auto;

    
}
.fail-screen {
    display: block;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    height: 100vh;
    font-size: 50px;
}


 .banner  {
    background: rgba(232, 233, 235, 0.7);
    text-align: center;
    position: relative;
    font-size: 20px;
    width: 90%;
    
}


h1 h3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bolder;
}


.container {
    background: linear-gradient( to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7)), url(doctorbg.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 80% 0%;
    background-attachment: scroll;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#js-form-submit {
    width: 60%;
    text-align: center;
    height: 70%;
}




.wrapper {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    
}

.wrapper li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
    
}

input {
    margin-bottom: 10px;
}



.wrapper li input[type='text']  {
    padding: 17px;
    flex: 1 0 220px;
}

#location-state {
    flex: 1 0 220px;
    height: 50px;
    
    
}

#submit-button {
    display: block;
    margin: 50px auto;
    padding: 20px 50px;
    cursor: pointer;
}



.primary-info {
    border: 5px double black;
    padding: 13px;
    color: #22333B;
    font-weight: 100px;
}

 p   {
    font-family: 'Heebo', sans-serif;
}
span {
    font-family: 'Heebo', sans-serif;
}

.primary-info > img {
    float: right;
}

@media only screen and (max-width: 600px){
    .container{
        height: 100vh;
    }
    .row {

    }

}

@media only screen and (min-width: 600px){

}

@media only screen and (min-width: 768px){
    .wrapper {
        
    }
    .container {
        height: 100vh;
    }
}

@media only screen and (min-width: 992px){
    #js-form-submit {
        width: 50%;
    }
}













